<div class="card info-card mb-3 mx-auto">
  <div class="card-header d-flex align-items-center">
      <h5>Earned Trophies</h5>

  </div>

</div>

<div class="card info-card mb-4 mx-auto">
  <div class="card-block p-3">
      These are trophies that you have earned through your workouts and other activities.
  </div>
</div>


<div class="card-columns mx-auto">
  <div class="card info-card mb-4 mx-auto trophy-card">
      <div data-target="#trophy1" class="card-img-top p-3 img-fluid text-center trophy mx-auto" data-toggle="collapse" aria-expanded="false"
          aria-controls="trophy1">
          <i class="fas fa-trophy"></i>
      </div>
      <div class="card-block p-2 text-center">
          <h6 class="card-title">Ran a mile</h6>
          <p class="card-text collapse" id="trophy1">You earned this trophy with 200 aerobic points from runs.</p>
      </div>
  </div>
  <div class="card info-card mb-4 mx-auto trophy-card">
      <div data-target="#trophy2" class="card-img-top p-3 img-fluid text-center trophy mx-auto" data-toggle="collapse" aria-expanded="false"
          aria-controls="trophy2">
          <i class="fas fa-trophy"></i>
      </div>
      <div class="card-block p-2 text-center">
          <h6 class="card-title">Ran a mile</h6>
          <p class="card-text collapse" id="trophy2">You earned this trophy with 200 aerobic points from runs.</p>
      </div>
  </div>
  <div class="card info-card mb-4 mx-auto trophy-card">
      <div class="card-img-top p-3 img-fluid text-center trophy mx-auto" data-toggle="collapse" data-target="#trophy3" aria-expanded="false"
          aria-controls="trophy3">
          <i class="fas fa-trophy"></i>
      </div>
      <div class="card-block p-2 text-center">
          <h6 class="card-title">Ran a mile</h6>
          <p class="card-text collapse" id="trophy3">You earned this trophy with 200 aerobic points from runs.</p>
      </div>
  </div>
  <div class="card info-card mb-4 mx-auto trophy-card">
      <div class="card-img-top p-3 img-fluid text-center trophy mx-auto" data-toggle="collapse" data-target="#trophy4" aria-expanded="false"
          aria-controls="trophy4">
          <i class="fas fa-trophy"></i>
      </div>
      <div class="card-block p-2 text-center">
          <h6 class="card-title">Ran a mile</h6>
          <p class="card-text collapse" id="trophy4">You earned this trophy with 200 aerobic points from runs.</p>
      </div>
  </div>
  <div class="card info-card mb-4 mx-auto trophy-card">
      <div class="card-img-top p-3 img-fluid text-center trophy mx-auto" data-toggle="collapse" data-target="#trophy5" aria-expanded="false"
          aria-controls="trophy5">
          <i class="fas fa-trophy"></i>
      </div>
      <div class="card-block p-2 text-center">
          <h6 class="card-title">Ran a mile</h6>
          <p class="card-text collapse" id="trophy5">You earned this trophy with 200 aerobic points from runs.</p>
      </div>
  </div>
  <div class="card info-card mb-4 mx-auto trophy-card">
      <div class="card-img-top p-3 img-fluid text-center trophy mx-auto" data-toggle="collapse" data-target="#trophy6" aria-expanded="false"
          aria-controls="trophy6">
          <i class="fas fa-trophy"></i>
      </div>
      <div class="card-block p-2 text-center">
          <h6 class="card-title">Ran a mile</h6>
          <p class="card-text collapse" id="trophy6">You earned this trophy with 200 aerobic points from runs.</p>
      </div>
  </div>
  <div class="card info-card mb-4 mx-auto trophy-card">
      <div class="card-img-top p-3 img-fluid text-center trophy mx-auto" data-toggle="collapse" data-target="#trophy7" aria-expanded="false"
          aria-controls="trophy7">
          <i class="fas fa-trophy"></i>
      </div>
      <div class="card-block p-2 text-center">
          <h6 class="card-title">Ran a mile</h6>
          <p class="card-text collapse" id="trophy7">You earned this trophy with 200 aerobic points from runs.</p>
      </div>
  </div>
  <div class="card info-card mb-4 mx-auto trophy-card">
      <div class="card-img-top p-3 img-fluid text-center trophy mx-auto" data-toggle="collapse" data-target="#trophy8" aria-expanded="false"
          aria-controls="trophy8">
          <i class="fas fa-trophy"></i>
      </div>
      <div class="card-block p-2 text-center">
          <h6 class="card-title">Ran a mile</h6>
          <p class="card-text collapse" id="trophy8">You earned this trophy with 200 aerobic points from runs.</p>
      </div>
  </div>
  <div class="card info-card mb-4 mx-auto trophy-card">
      <div class="card-img-top p-3 img-fluid text-center trophy mx-auto" data-toggle="collapse" data-target="#trophy9" aria-expanded="false"
          aria-controls="trophy9">
          <i class="fas fa-trophy"></i>
      </div>
      <div class="card-block p-2 text-center">
          <h6 class="card-title">Ran a mile</h6>
          <p class="card-text collapse" id="trophy9">You earned this trophy with 200 aerobic points from runs.</p>
      </div>
  </div>
  <div class="card info-card mb-4 mx-auto trophy-card">
      <div class="card-img-top p-3 img-fluid text-center trophy mx-auto" data-toggle="collapse" data-target="#trophy10" aria-expanded="false"
          aria-controls="trophy10">
          <i class="fas fa-trophy"></i>
      </div>
      <div class="card-block p-2 text-center">
          <h6 class="card-title">Ran a mile</h6>
          <p class="card-text collapse" id="trophy10">You earned this trophy with 200 aerobic points from runs.</p>
      </div>
  </div>
  <div class="card info-card mb-4 mx-auto trophy-card">
      <div class="card-img-top p-3 img-fluid text-center trophy mx-auto" data-toggle="collapse" data-target="#trophy11" aria-expanded="false"
          aria-controls="trophy11">
          <i class="fas fa-trophy"></i>
      </div>
      <div class="card-block p-2 text-center">
          <h6 class="card-title">Ran a mile</h6>
          <p class="card-text collapse" id="trophy11">You earned this trophy with 200 aerobic points from runs.</p>
      </div>
  </div>
  <div class="card info-card mb-4 mx-auto trophy-card">
      <div class="card-img-top p-3 img-fluid text-center trophy mx-auto" data-toggle="collapse" data-target="#trophy12" aria-expanded="false"
          aria-controls="trophy12">
          <i class="fas fa-trophy"></i>
      </div>
      <div class="card-block p-2 text-center">
          <h6 class="card-title">Ran a mile</h6>
          <p class="card-text collapse" id="trophy12">You earned this trophy with 200 aerobic points from runs.</p>
      </div>
  </div>


</div>