<div class="card info-card mb-4 mx-auto">
    <div class="card-header d-flex align-items-center">
        <h5>Let's workout together!</h5>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item d-flex no-flex flex-row align-items-center justify-content-center">

            <div class="trainer-img"></div>


            <div class="speech-bubble p-3 ml-5 d-flex align-items-center">
                Keep up the amazing work! I've suggested some new workouts for you!
            </div>


        </li>
        <li class="list-group-item bg-light p-1 goal-header">

            <h6 class="ml-4 mb-0 my-2"> Your goals:</h6>
        </li>
        <li class="list-group-item">
            <div class="form-group ml-5 mb-0 my-2">
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" value="option1"> 10 minute mile
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" value="option1" checked> Balance exercise routine
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" value="option1" checked> Increase freeweight limit
                    </label>
                </div>
            </div>



        </li>
    </ul>
</div>


<app-challenge-list></app-challenge-list>>

<div class="card info-card mb-4 mx-auto">
    <div class="card-header d-flex align-items-center">
        <h5>A Quote for You</h5>
    </div>
    <div class="card-block p-4 mx-4 align-items-baseline">
        <div class="quote-sect">
            <i class="fas fa-quote-left"></i>
            <div class="quotation">

            </div>
            <i class="fas fa-quote-right"></i>
        </div>
        <div class="author d-flex mt-4 justify-content-end">

        </div>

    </div>
</div>