<div class="card info-card mb-5 mx-auto">
  <div class="card-header d-flex align-items-center">
      <h5>Videos</h5>
      <a [routerLink]="['/workout/workout-type']" class="ml-auto">
          <div class="btn btn-primary small-btn">Record Workout</div>
      </a>
  </div>
  <div class="card-block">
      <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/eFOSh8vpd6I" frameborder="0" allow="autoplay; encrypted-media"
              allowfullscreen></iframe>
      </div>
  </div>
  <ul class="list-group list-group-flush ">

      <li class="list-group-item p-3 d-flex align-items-center">
          <div class="thumbnail active-video thumbnail-img mr-2" style="background-image:url('https://images.pexels.com/photos/209983/pexels-photo-209983.jpeg?w=940&h=650&dpr=2&auto=compress&cs=tinysrgb')">
              <div class="thumbnail thumbnail-icon" style="color:rgba(255,255,255,0.7)">
                  <i class="fas fa-play"></i>
              </div>
          </div>
          <div class="caption pl-2">
              <h6>PUSH-UPS</h6>
              Learn how to do push-ups like a pro!
          </div>

      </li>



  </ul>


</div>

<div class="card info-card mb-5 mx-auto">
  <div class="card-header d-flex align-items-center">
      <h5>Other Videos</h5>
  </div>
  <div class="video-list">
      <ul class="list-group list-group-flush">

          <li class="list-group-item p-3 d-flex align-items-center">
              <div class="thumbnail thumbnail-img mr-2" style="background-image:url('https://images.pexels.com/photos/40974/active-athletic-exercise-female-40974.jpeg?w=940&h=650&dpr=2&auto=compress&cs=tinysrgb')">
                  <div class="thumbnail thumbnail-icon" style="color:rgba(255,255,255,0.7)">
                      <i class="fas fa-play"></i>
                  </div>
              </div>
              <div class="caption pl-2">
                  <h6>STRETCHES</h6>
                  Learn how to do stretches like a pro!
              </div>
              <div class="accent-icon ml-auto shadow-hover">
                  <i class="fas fa-arrow-right"></i>
              </div>

          </li>
          <li class="list-group-item p-3 d-flex align-items-center">
              <div class="thumbnail thumbnail-img mr-2" style="background-image:url('https://images.pexels.com/photos/700392/pexels-photo-700392.jpeg?w=940&h=650&dpr=2&auto=compress&cs=tinysrgb')">
                  <div class="thumbnail thumbnail-icon" style="color:rgba(255,255,255,0.7)">
                      <i class="fas fa-play"></i>
                  </div>
              </div>
              <div class="caption pl-2">
                  <h6>SIT-UPS</h6>
                  Learn how to do sit-ups like a pro!
              </div>
              <div class="accent-icon ml-auto shadow-hover">
                  <i class="fas fa-arrow-right"></i>
              </div>

          </li>
          <li class="list-group-item p-3 d-flex align-items-center">
              <div class="thumbnail thumbnail-img mr-2" style="background-image:url('https://images.pexels.com/photos/795972/pexels-photo-795972.jpeg?w=940&h=650&dpr=2&auto=compress&cs=tinysrgb')">
                  <div class="thumbnail thumbnail-icon" style="color:rgba(255,255,255,0.7)">
                      <i class="fas fa-play"></i>
                  </div>
              </div>
              <div class="caption pl-2">
                  <h6>YOGA</h6>
                  Learn how to do yoga like a pro!
              </div>
              <div class="accent-icon ml-auto shadow-hover">
                  <i class="fas fa-arrow-right"></i>
              </div>

          </li>
          <li class="list-group-item p-3 d-flex align-items-center">
              <div class="thumbnail thumbnail-img mr-2" style="background-image:url('https://images.pexels.com/photos/221247/pexels-photo-221247.jpeg?w=940&h=650&dpr=2&auto=compress&cs=tinysrgb')">
                  <div class="thumbnail thumbnail-icon" style="color:rgba(255,255,255,0.7)">
                      <i class="fas fa-play"></i>
                  </div>
              </div>
              <div class="caption pl-2">
                  <h6>WEIGHTLIFTING</h6>
                  Learn how to do weightlifting like a pro!
              </div>
              <div class="accent-icon ml-auto shadow-hover">
                  <i class="fas fa-arrow-right"></i>
              </div>

          </li>


      </ul>
  </div>
</div>