<!--Topbar -->
<nav class="navbar navbar-expand-md navbar-light fixed-top">
    <a class="navbar-toggler" aria-hidden="true" aria-expanded="false" id="toggler">
        <i class="fa fa-bars"></i>
    </a>
    <a class="navbar-brand mr-auto ml-0" href="#">
        <div class="navbar-brand-logo mr-auto mr-md-0 hmp-brand-logo">
            <img src="/assets/pat/images/BCH_HC.png">
            <div class="line d-none d-sm-inline"></div>&nbsp;
            <div class="d-none d-sm-inline">Cardiac Fitness</div>&nbsp;
        </div>
    </a>
    <!-- <ng-container *ngIf="service.show">
        <a class="btn btn-primary small-btn top-btn load-slider"  (click)='service.clickFunc($event)' [routerLink]='service.link'>
            {{service.html}}
        </a>
    </ng-container> -->
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Michelle Pine
                </a>
                <div class="dropdown-menu  dropdown-menu-right" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="./auth/logout">
                        <i class="fas fa-sign-out-alt"></i> &nbsp;Logout
                    </a>
                </div>
            </li>
        </ul>
    </div>
</nav>