<!-- <ng-container *ngIf="onlyDate">
    <input type="date" name={{mbscName}} [(ngModel)]="datetimeVal" mbsc-date class={{classNames}} [mbsc-options]="mobiscrollDateTimeOptions" placeholder={{placeholder}} (focus)='focusDateVal()' />
</ng-container>

<ng-container *ngIf="onlyTime">
    <input type="time" name={{mbscName}} [(ngModel)]="datetimeVal" mbsc-time [mbsc-options]="mobiscrollDateTimeOptions" placeholder={{placeholder}} class={{classNames}} />
</ng-container>

<ng-container *ngIf="defaultDatetime">
    <input type="datetime-local" name={{mbscName}} [(ngModel)]="datetimeVal" mbsc-datetime [mbsc-options]="mobiscrollDateTimeOptions" placeholder={{placeholder}} class={{classNames}} />
</ng-container>

<ng-container *ngIf="dateWithPipe">
    <input type="datetime-local" name={{mbscName}} [ngModel]="datetimeVal | parseDate" (ngModelChange)="datetimeVal=$event" mbsc-datetime [mbsc-options]="mobiscrollDateTimeOptions" placeholder={{placeholder}} class={{classNames}} (focus)='focusDateVal()'
    />
</ng-container> -->