<div class="card info-card mt-4 mb-4 mx-auto">
  <div class="card-header d-flex align-items-center">
      <h5>A Joke for You</h5>
  </div>
  <div class="card-block p-4 mx-4 align-items-baseline">

      <div class="joke">

      </div>




  </div>
</div>





<div class="card info-card mb-4 mx-auto">
  <div class="card-header d-flex align-items-center">
      <h5>A Quote for You</h5>
  </div>
  <div class="card-block p-4 mx-4 align-items-baseline">
      <div class="quote-sect">
          <i class="fas fa-quote-left"></i>
          <div class="quotation">
          </div>
          <i class="fas fa-quote-right"></i>
      </div>
      <div class="author d-flex mt-4 justify-content-end">

      </div>

  </div>
</div>