@import "../variables";

.card-container {
  margin-left: 50px;
  @media (max-width: 768px) {
    main .cards-container {
      margin-left: 0px;
    }
  }
}

.big-wrapper {
  width: 100vw;
  height: calc(100vh + 0px);
  position: fixed;
  background: $pat-bg;
}

main {
  margin-top: 50px;
  position: relative;
  width: calc(100vw - 250px);
  overflow: auto;
  left: 0;
  height: 100%;
  padding-top: 20px;
  flex-grow: 1;
}

.main-content {
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 1;
  @media (max-width: 768px) {
    width: 100vw;
  }
}
