<div class="card info-card mb-4 mx-auto">
  <div class="card-header d-flex align-items-center">
      <h5>Your Statistics</h5>
      
  </div>
  <div class="card-block px-3">
      <div class="table-responsive">
          <table class="table table-hover">
              <thead>
                  <th>
                      Exercise
                  </th>
                  <th>
                      Workouts
                  </th>
                  <th>
                      Personal Best
                  </th>
              </thead>
              <tr>
                  <td>
                      Stretching
                  </td>
                  <td>
                      75
                  </td>
                  <td>
                      N/A
                  </td>
              </tr>
              <tr>
                  <td>
                      Baseball
                  </td>
                  <td>
                      60
                  </td>
                  <td>
                      A home run
                  </td>
              </tr>
              <tr>
                  <td>
                      Push-ups
                  </td>
                  <td>
                      55
                  </td>
                  <td>
                      60 reps
                  </td>
              </tr>
              <tr>
                  <td>
                      Elliptical
                  </td>
                  <td>
                      40
                  </td>
                  <td>
                      6 miles
                  </td>
              </tr>
              <tr>
                  <td>
                      Curl-Ups
                  </td>
                  <td>
                      30
                  </td>
                  <td>
                      90 reps
                  </td>
              </tr>
              <tr>
                  <td>
                      Running
                  </td>
                  <td>
                      26
                  </td>
                  <td>
                      1 mile in 10 minutes
                  </td>
              </tr>
              <tr>
                  <td>
                      Swimming
                  </td>
                  <td>
                     20
                  </td>
                  <td>
                      20 laps in 7 minutes
                  </td>
              </tr>
              <tr>
                  <td>
                      Climbing up stairs
                  </td>
                  <td>
                     15
                  </td>
                  <td>
                      5 staircases in one day
                  </td>
              </tr>
              <tr>
                  <td>
                      Cleaning your room
                  </td>
                  <td>
                     10
                  </td>
                  <td>
                      Finished cleaning in 10 minutes
                  </td>
              </tr>
          </table>
      </div>
  </div>



</div>