<div class="card info-card mb-2 mx-auto option-card">
  <div class="card-header d-flex align-items-center">
      <h5>Workouts for the week of:&nbsp;&nbsp;<span class="text-primary">{{dateService.getMonthName(dateService.getSelectedWeek()[0].getMonth())}} {{dateService.getSelectedWeek()[0].getDate()}}, {{dateService.getSelectedWeek()[0].getFullYear()}}</span>
      </h5>

  </div>
</div>


<div class="card info-card history-table mx-auto mb-2 ">
  <div class="card-header d-flex align-items-center">
      <h6>Walking &nbsp;<span class="badge badge-secondary">Weekly</span></h6>
      <div class="d-flex justify-items-right ml-auto">
          <a href="#removeExercise">
              <div class="accent-icon ml-auto shadow-hover">
                  <i class="fas fa-times"></i>
              </div>
          </a>
          &nbsp;&nbsp;
          <a href="select-activity.html">
              <div class="accent-icon ml-auto shadow-hover">
                  <i class="fas fa-pencil-alt"></i>
              </div>

          </a>
      </div>
  </div>
  <div class="card-block container-fluid">
      <div class="row">
          <div class="col-6 left-col">
              Type
          </div>
          <div class="col-6 right-col">
              Aerobic
          </div>
      </div>

      <div class="row">
          <div class="col-6 left-col">
              Intensity (of each workout)
          </div>
          <div class="col-6 right-col">
              10
          </div>
      </div>


      <div class="row">
          <div class="col-6 left-col">
              Time (of each workout)
          </div>
          <div class="col-6 right-col">
              20 mins
          </div>
      </div>
      <div class="row">
          <div class="col-6 left-col">
              Frequency 
          </div>
          <div class="col-6 right-col">
              2
          </div>
      </div>
      <div class="row">
          <div class="col-6 left-col">
              Feeling (after each workout)
          </div>
          <div class="col-6 right-col">
              <span id="smiley5"></span>
          </div>
      </div>
      <div class="row">
          <div class="col-6 left-col">
              Notes
          </div>
          <div class="col-6 right-col">
              These workouts were done on Monday, Tuesday, and Wednesday
          </div>
      </div>
  </div>

</div>
<div class="card info-card history-table mx-auto mb-2 ">
  <div class="card-header d-flex align-items-center">
      <h6>Weightlifting</h6>
      <div class="d-flex justify-items-right ml-auto">
          <a href="#removeExercise">
              <div class="accent-icon ml-auto shadow-hover">
                  <i class="fas fa-times"></i>
              </div>
          </a>
          &nbsp;&nbsp;
          <a href="select-activity.html">
              <div class="accent-icon ml-auto shadow-hover">
                  <i class="fas fa-pencil-alt"></i>
              </div>

          </a>
      </div>
  </div>
  <div class="card-block container-fluid">
      <div class="row">
          <div class="col-6 left-col">
              Type
          </div>
          <div class="col-6 right-col">
              Strength
          </div>
      </div>

      <div class="row">
          <div class="col-6 left-col">
              Intensity
          </div>
          <div class="col-6 right-col">
              12
          </div>
      </div>


      <div class="row">
          <div class="col-6 left-col">
              Time
          </div>
          <div class="col-6 right-col">
              30 mins
          </div>
      </div>
  
      <div class="row">
          <div class="col-6 left-col">
              Emotion
          </div>
          <div class="col-6 right-col">
              <span id="smiley2"></span>
          </div>
      </div>
      <div class="row">
          <div class="col-6 left-col">
              Notes
          </div>
          <div class="col-6 right-col">
              I hit a new personal best!
          </div>
      </div>
  </div>

</div>

<div class="card info-card history-table mx-auto mb-2 ">
  <div class="card-header d-flex align-items-center">
      <h6>Curl-ups</h6>
      <div class="d-flex justify-items-right ml-auto">
          <a href="#removeExercise">
              <div class="accent-icon ml-auto shadow-hover">
                  <i class="fas fa-times"></i>
              </div>
          </a>
          &nbsp;&nbsp;
          <a href="select-activity.html">
              <div class="accent-icon ml-auto shadow-hover">
                  <i class="fas fa-pencil-alt"></i>
              </div>

          </a>
      </div>
  </div>
  <div class="card-block container-fluid">
      <div class="row">
          <div class="col-6 left-col">
              Type
          </div>
          <div class="col-6 right-col">
              Strength
          </div>
      </div>

      <div class="row">
          <div class="col-6 left-col">
              Intensity
          </div>
          <div class="col-6 right-col">
              15
          </div>
      </div>


      <div class="row">
          <div class="col-6 left-col">
              Time
          </div>
          <div class="col-6 right-col">
              10 mins
          </div>
      </div>
      
      <div class="row">
          <div class="col-6 left-col">
              Emotion
          </div>
          <div class="col-6 right-col">
              <span id="smiley3"></span>
          </div>
      </div>
      <div class="row">
          <div class="col-6 left-col">
              Notes
          </div>
          <div class="col-6 right-col">
              These were tough!
          </div>
      </div>
  </div>

</div>