<div class="card info-card mb-4 mx-auto">
    <div class="card-header d-flex align-items-center">
        <h5>Progress</h5>
        <div class="accent-icon ml-auto shadow-hover">
            <a [routerLink]="['/progress']">
                <i class="fas fa-expand"></i>
            </a>
        </div>
    </div>

    <div class="card-block mx-auto p-3 mb-3">
        <!-- <canvas id="myChart" width="100" height="100"></canvas> -->
        <radar-graph></radar-graph>
    </div>
    <ul class="list-group list-group-flush">

        <li class="list-group-item p-3 d-flex align-items-center">
            <div class="thumbnail thumbnail-img mr-2"></div>
            <div class="caption pl-2">
                <h6>Need More Discovery?</h6>
                Check out chapter 3 of your journal!
            </div>
            <div class="accent-icon ml-auto shadow-hover">
                <i class="fas fa-arrow-right"></i>
            </div>

        </li>

        <li class="list-group-item p-3 d-flex align-items-center">
            <div class="thumbnail thumbnail-icon mr-2">
                <i class="fas fa-certificate"></i>
            </div>
            <div class="caption pl-2">
                <h6>Amazing work!</h6>
                You're only 10 strength points and 15 flexibility points from being balanced!

            </div>
            <div class="accent-icon ml-auto shadow-hover">
                <i class="fas fa-arrow-right"></i>
            </div>

        </li>
    </ul>
</div>








<app-challenge-list></app-challenge-list>

<div class="card info-card mb-4 mx-auto">
    <div class="card-header d-flex align-items-center">
        <h5>Trophies</h5>
        <div class="accent-icon ml-auto shadow-hover">
            <a [routerLink]="['/trophies']">

                <i class="fas fa-expand"></i>

            </a>
        </div>
    </div>



    <div class="card-block">
        <div class="row mx-auto p-3 d-flex flex-wrap align-content-start justify-content-center">
            <div class="trophy">
                <i class="fas fa-trophy"></i>
                <div class="trophy-caption">
                    Ran a mile
                </div>
            </div>
            <div class="trophy">
                <i class="fas fa-trophy"></i>
                <div class="trophy-caption">
                    Mindfulness goal
                </div>
            </div>
            <div class="trophy">
                <i class="fas fa-trophy"></i>
                <div class="trophy-caption">
                    Ran a mile
                </div>
            </div>

            <div class="trophy">
                <i class="fas fa-trophy"></i>
                <div class="trophy-caption">
                    Ran a mile
                </div>
            </div>
            <div class="trophy">
                <i class="fas fa-trophy"></i>
                <div class="trophy-caption">
                    Ran a mile
                </div>
            </div>
            <div class="trophy">
                <i class="fas fa-trophy"></i>
                <div class="trophy-caption">
                    Ran a mile
                </div>
            </div>

            <div class="trophy">
                <i class="fas fa-trophy"></i>
                <div class="trophy-caption">
                    Ran a mile
                </div>
            </div>

            <div class="trophy">
                <i class="fas fa-trophy"></i>
                <div class="trophy-caption">
                    Ran a mile
                </div>
            </div>

            <div class="trophy">
                <i class="fas fa-trophy"></i>
                <div class="trophy-caption">
                    Ran a mile
                </div>
            </div>
            <div class="trophy">
                <i class="fas fa-trophy"></i>
                <div class="trophy-caption">
                    Ran a mile
                </div>
            </div>
            <div class="trophy">
                <i class="fas fa-trophy"></i>
                <div class="trophy-caption">
                    Ran a mile
                </div>
            </div>
            <div class="trophy">
                <i class="fas fa-trophy"></i>
                <div class="trophy-caption">
                    Ran a mile
                </div>
            </div>

        </div>
    </div>
</div>